.gauge {
    max-height: 200px;
    max-width: 300px;
    margin: auto;
    padding: 1%;
}
.chart {
    max-height: 150px;
    max-width: 450px;
    margin: auto;

}
.pie {
    margin: auto;
    max-width: 450px;
}
.transaction {
    margin: auto;
    max-width: 98%;
}
.line-total {
    margin: auto;
    max-width: 100%;
}
.wj-flexchart {
    border: none;
}
.wj-flexgrid {
    border: none;
}
.page {
    width: 100%;
    text-align: center;
}
.wj-cells .wj-cell.wj-state-multi-selected {
    background: rgb(215, 219, 215);
    color: #000000;
}
.wj-gauge .wj-pointer, .wj-gauge .wj-needle {
    fill: #F46736;
    /* fill: #CC4C7D-#FC6E86 */
}
#yellow .wj-gauge .wj-pointer, .wj-gauge .wj-needle {
    fill: #25b932;
}
#green .wj-gauge .wj-pointer, .wj-gauge .wj-needle {
    fill: #da0808;
}
#blue .wj-gauge .wj-pointer, .wj-gauge .wj-needle {
    fill: #2d56c9;
}
#red .wj-gauge .wj-pointer, .wj-gauge .wj-needle {
    fill: #ffe56f;
}
.wj-flexgrid .wj-cell {
    transition: background .4s;
    border-right: none;
    text-align: center;
    padding: 8px 3px;
}
.wj-flexgrid .wj-marquee,
.wj-flexgrid .wj-header {
    transition: all .4s;
}
.wj-cell.wj-alt {
    background: #ffffff;
}

.wj-series-group rect {
    stroke-width: 10px;
    stroke:#F6642F;
    stroke-opacity: 0.5;
  }

.wj-series-group rect:hover {
    opacity: 0.7;
    stroke-width: 10px;
    /* stroke: rgb(185, 185, 185); */
  }
  
.wj-series-group polyline{
    stroke: #E03252;
    opacity: 0.5;
}
  .wj-series-group polyline:hover {
      opacity: 0.8;
  }
  .wj-series-group ellipse {
      stroke: #E03252;
      fill: #E03252;
      opacity: 0.7;
  }
  .wj-gauge .wj-face path {
      stroke: none;
  }
path:hover {
    opacity: 0.7;
    stroke-width: 4px;
    stroke-opacity: 0.7;
    stroke: rgb(224, 96, 96);
}
.wj-flexgrid {
    /* min-height: 250px; */
    margin-bottom: 24px;
}
.transaction .wj-cells .wj-cell:not(.wj-state-selected):not(.wj-state-multi-selected):hover {
    background-color:rgb(215, 219, 215);
    transition: all 0.5s;   
  }

.wj-cell.wj-header {
    /* padding: 8px; */
    /* border-style: dashed; */
    background: #ffffff;
    border-collapse: collapse;
    text-align: center;
}
.wj-cell.wj-header.wj-state-multi-selected {
    background: #ffffff;
}
.wj-cell.wj-header {
    font-family: 'Jeju-Gothic';
}
.wj-content.wj-pager {
    border: none;
}
.wj-marquee {
    opacity: 0.4;
    border: 2px solid #fd711f;
    stroke: none;
}

.report-one {
    max-width: 90%;
    margin: auto;
}
.toggle-label {
    font-size: 1em;
    font-weight: 700;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    color:#ffffff;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}
/* gallery */
body{
    background-color: #FFA630;
  }
  .thumbnail-gallery{
    border:1px solid #efefef;
    border-radius:5px;
    margin-top:20px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    padding-bottom:8px;
    background-color: #ffffff;
  }
  .overlay{
    position:absolute;
    display: flex;
    justify-content:center;
    background-color: rgba(0,0,0,0.25);
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    align-items: center;
    flex-direction: column;
    color:#ffffff;
   
  }
  .image-card{
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    border:0;
  }

  .card-img:hover {
      opacity: 0.5;
      transition: .1s all ease-in-out;

      /* stroke-opacity: 0.6; */
  }